backports.entry-points-selectable==1.1.1
Click==7.0
distlib==0.3.4
filelock==3.4.2
Flask==1.0.2
Flask-Cors==3.0.10
importlib-metadata==4.10.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
platformdirs==2.4.1
six==1.16.0
typing_extensions==4.0.1
virtualenv==20.10.0
Werkzeug==0.14.1
zipp==3.6.0
