{% extends "base.html" %}

{% block content %}
<div class="container">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Generate RSA KEY</h1>
        </div>
        <form>
        <div class="panel-body">
              <div class="form-group col-md-6">
                <label>Nilai P</label>
                <input type="text" id="p" class="prima form-control" placeholder="Bilangan prima nilai P, min 3 digit">
              </div>
              <div class="form-group col-md-6">
                <label>Nilai Q</label>
                <input type="text" id="q" class="prima form-control" placeholder="Bilangan prima nilai Q, min 3 digit">
              </div>
              <div class="form-group col-md-6">
                <label>Public Key</label>
                <input type="text" id="public" class="form-control" placeholder="Nilai N" readonly>
              </div>
              <div class="form-group col-md-6">
                <label>Private Key</label>
                <input type="text" id="private" class="form-control" placeholder="Nilai M" readonly>
              </div>
        </div>
        </form>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Enkripsi</h1>
        </div>
        <form>
        <div class="panel-body">
              <div class="form-group col-md-6">
                <label>Public Key</label>
                <input type="text" id="en_public" class="key form-control">
              </div>
              <div class="form-group col-md-12">
                <label>Plain Text</label>
                <textarea id="plain_text" rows="10" class="key form-control"></textarea>
              </div>
              <div class="form-group col-md-12">
                <label>Plaint Text ASCII</label>
                <textarea id="plain_text_ascii" rows="10" class="form-control" readonly></textarea>
              </div>
              <div class="form-group col-md-12">
                <label>Ciphertext</label>
                <textarea id="decrypt" rows="10" class="form-control" readonly></textarea>
              </div>
        </div>
        </form>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Decrypt</h1>
        </div>
        <form>
        <div class="panel-body">
              <div class="form-group col-md-6">
                <label>Private Key</label>
                <input type="text" id="en_private" class="key_dec form-control">
              </div>
              <div class="form-group col-md-12">
                <label>Ciphertext</label>
                <textarea id="cipher_text" rows="10" class="key_dec form-control"></textarea>
              </div>
              <div class="form-group col-md-12">
                <label>Plaint Text ASCII</label>
                <textarea id="plain_text_ascii_decrypt" rows="10" class="form-control" readonly></textarea>
              </div>
              <div class="form-group col-md-12">
                <label>Plaintext</label>
                <textarea id="plain_text_decrypt" rows="10" class="form-control" readonly></textarea>
              </div>
        </div>
        </form>
      </div>

</div> <!-- /container -->
{% endblock %}

{% block c_js %}

<script type="text/javascript">
  $( ".prima" ).change(function() {
    if (!(!$("#p").val() || !$("#q").val())) {
      $.post( '{{url_for("generate")}}', { p: $("#p").val(), q: $("#q").val() })
        .done(function( data ) {
          $("#public").val(data.public_key);
          $("#private").val(data.private_key);
        });
    }
  });

  $( ".key" ).change(function() {
    if (!(!$("#en_public").val() || !$("#plain_text").val())) {
      $.post( '{{url_for("enkripsi")}}', { public_key: $("#en_public").val(), plain_text: $("#plain_text").val() })
        .done(function( data ) {
            var ascii = data.plain_text_ascii;
            var cipher = data.decrypt;
            $("#plain_text_ascii").val(ascii.join(" "));
            $("#decrypt").val(cipher.join(" "));
        });
    }
  });

  $( ".key_dec" ).change(function() {
    if (!(!$("#en_private").val() || !$("#cipher_text").val())) {
      $.post( '{{url_for("decrypt")}}', { private_key: $("#en_private").val(), cipher_text: $("#cipher_text").val() })
        .done(function( data ) {
            var ascii = data.plain_text_ascii;
            var plainText = data.plaintext;
            $("#plain_text_ascii_decrypt").val(ascii.join(" "));
            $("#plain_text_decrypt").val(plainText.join(''));
        });
    }
  });
</script>

{% endblock %}
